.date {

	background: $color--brand-main;
	padding: 10px;
	color: $color--white;


	&__day {

		font-size: 30px;
		font-weight: bold;
		display: inline-block;
		max-width: 55px;			
		color: $color--brand-main;
		margin-bottom: 5px;

		
	}

	&__month {

		font-size: 12px;
		display: inline-block;
		
		
	}

	&__year {

		font-size: 21px;
		display: block;
		
	}
}