#portfoliolist .portfolio {
	
	display:none;	
	overflow:hidden;
}

.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
	
		cursor:pointer;
	}


.filter {

	padding: 7px 25px;
	display: inline-block;


}
	

		
	

		
	
